{
  "extends": ["react-app", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "error",
    "react/prop-types": "warn",
    "react/jsx-key": "warn",
    "react/no-unused-prop-types": "warn",
    "react/no-unused-state": "warn",
    "prefer-const": "warn"
  }
}
